* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.Show-Bot {
  width: 58.33px !important;
  height: 58.48px !important;
  border-radius: 50% !important;
}
.Hide {
  display: none;
}
.Show {
  display: flex;
}
